 body
{
    text-align: center;
    color: white;
}

.heading
{
    margin-top: 5px;
    font-size: 20px;
    padding-bottom: 15px;
}

.dateTime label
{
    font-size: 20px;
    margin: 0.1rem;
    padding-bottom: 10px;
}
.dateTime input
{
    font-size: 10px;
    margin: 5px;
    padding: 5px 10px;
    border: 1.5px solid black;
    border-radius: 5px;
}
button
{
    height: 35px;
    width: 245px;
    font-size: large;
    margin: 10px 5px;
    padding: 5px 10px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
#stop, #reset{
    height: 30px;
    width: 150px;
    margin: 10px 5px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
button:hover{
    color: deeppink;
    font-style: italic;
}
.container
{
    display: flex;
    justify-content: center;
}
.innerContainer
{
    margin: 10px;
    margin-top: 40px;
}
.innerContainer input
{
    height: 13vw;
    width: 13vw;
    color: white;
    border-radius: 20rem;
    background: transparent;
    border: 1px solid black;
    text-align: center;
    font-size: 150px;
}
.name{
    font-size: 30px;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .content {
    position: fixed;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    align-items: center;
    margin-top: rem;
  }
