body
{
    text-align: center;
    color: white;
}

.heading
{
    margin-top: 0rem;
    font-size: 1.8rem;
}

.dateTime label
{
    font-size: 1rem;
    margin: 0.2rem;
}
.dateTime input
{
    font-size: 18px;
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
button
{
    height: 1rem;
    font-size: 0.8rem;
    width: 8rem;
    margin: 20px 5px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
#stop, #reset{
    height: 1rem;
    width: 5rem;
    margin: 20px 5px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
button:hover{
    color: deeppink;
    font-style: italic;
}
.container
{
    display: flex;
    justify-content: center;
}
.innerContainer
{
    margin: 0.5rem;
}
.innerContainer input
{
    height: 13vw;
    width: 13vw;
    color: white;
    border-radius: 20rem;
    background: transparent;
    border: 0.1rem solid black;
    text-align: center;
    font-size: 4rem;
}
.name{
    font-size: 1rem;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .content {
    position: fixed;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    align-items: center;
    margin-top: rem;
  }
